setuptools
redis==6.1.0
tzlocal==4.3.1
pytz==2020.4
apscheduler==3.2.0
MarkupSafe==3.0.2
Jinja2==3.1.6
itsdangerous==2.2.0
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
pyyaml==6.0.2
rq==1.16.2
python-dotenv==1.1.0
requests==2.32.2
