[Unit]
Description=DISCOS monitoring program
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/start_suricate.sh
ExecStop=/usr/local/bin/start_suricate.sh
User=discos
PIDFile=/var/run/suricate-server

[Install]
WantedBy=multi-user.target
