[Unit]
Description=DISCOS monitoring program

[Service]
Type=simple
ExecStart=/bin/bash -c 'source ~/.bashrc && suricate-server start'
ExecStop=/bin/bash -c 'source ~/.bashrc && suricate-server stop'
User=discos
PIDFile=/var/run/suricate-server
